.IndexPage{
    background-color: #6CD6F1;
    height: 100%;
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
} 
.IndexPageUpperBox{
    background-color: #C7EAEF;
    position:fixed;
    height: 43%;
    width: 70%;
    border-radius: 0px 0px 16px 0px;
}
.indexPagecloud{
    position:fixed;
    bottom:0px;
    right:0px;
}
.logInButton{
    border: 3px solid #6CD6F1;
    font-size:35px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    position:fixed;
    top: 500px;
    left: 250px;
}
.logInButton:hover{
    border: 3px solid #C7EAEF;
    background-color: #C7EAEF;
    cursor:pointer;
}
.signUpButton{
    border: 3px solid #6CD6F1;
    font-size:35px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    position:fixed;
    top: 580px;
    left: 240px;
}
.signUpButton:hover{
    border: 3px solid #C7EAEF;
    background-color: #C7EAEF;
    cursor:pointer;
}